@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-mono {
  font-family: "Roboto Mono", serif;
}
.active {
  background-color: #115e59;
  
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px; /* Sidebar width */
  height: 100vh; /* Full height */
  background: #333;
  color: white;
  padding: 20px;
}